// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  white-space: nowrap;
}

.adj-width {
  max-width: 650px;
  margin: auto;
}

.adj-width-w {
  max-width: 930px;
  margin: auto;
}
